.ProductPage_container {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.ProductPage_sideBar_realated_Conatiner {
  width: 20%;
  padding: 10px;
}

.ProductPage_Products_card_conatiner {
  width: 60%;
  border: 1px solid #eee;
  padding: 10px;
}

.ProductPage_extra_elements_container {
  width: 20%;
  padding: 10px;
  border: 1px sold #eee;
}

/* realted categories */

.RelatedCategories_container {
  border-radius: 10px;
  border: solid 1px#eee;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  min-height: 200px;
  padding: 20px;
}

.RelatedCategories_container h2 {
  font-weight: 500;
  color: #111;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.2px;
}

.RelatedCategories_list_Box {
  margin-top: 5px;
}

.RelatedCategories_list_Box p {
  line-height: 1.2;
  color: #777;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

/* Product Cards */

.ProductCards_container {
  display: flex;
  margin: 5px 0px 20px 0px;
}

.ProductCards_imageBox {
  width: 30%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.ProductCards_contentBox {
  padding: 10px;
  width: 50%;
}

.ProductCards_title h2 {
  font-weight: 500;
  font-size: 18px;
}

.ProductCards_priceBox h2 {
  font-weight: 700;
  font-size: 20px;
}

.ProductCards_supplyer_detailsBox {
  width: 20%;
  border: 1px solid #eee;
  padding: 10px;
}

.ProductCards_userType {
  display: flex;
  justify-content: flex-end;
}

.ProductCards_companyName {
  text-align: center;
  margin-top: 30px;
}

.ProductCards_companyName p {
  font-size: 14px;
}

.ProductCards_sort_descreption {
  margin-bottom: 35px;
}

.ProductCards_conatactBtn__box {
  margin-top: 55px;
  display: inline;
  background-color: #339d3a;
  border: 1px solid#027c0a;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  border-radius: 4px;
  padding: 10px 20px;
  height: 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProductCards_conatactBtn__box span {
  padding: 5px;
}

.ProductsExtraElements_container {
  border: 1px solid #eee;
  width: 100%;
  min-height: 200px;
  box-shadow: var(shadow);
  cursor: pointer;
  padding: 5px;
}
