.SingUp_main_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f1f2;
}

.authForm_container {
  background: #fff;
  padding: 30px;
  width: 500px;
  box-sizing: border-box;
  float: left;
  word-wrap: break-word;
  min-height: 420px;
}

.authForm_Title {
  font-weight: 700;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.authForm_footer {
  margin: 20px 0px 10px 0px;
}

.login_page_link {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.social_media_loginBox {
  margin: 20px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialMedia_LinkBox {
  width: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.social_link_image {
  margin: 7px;
}

.authForm_page_link {
  color: rgb(74, 74, 243);
}

.formSteps_Box {
  padding: 40px;
  text-align: center;
}

.steperBox {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.stepBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stepBox:nth-child(2):before {
  content: "";
  height: 1px;
  width: 35%;
  border: 1px solid gray;
  background-color: gray;
  position: absolute;
  top: 15px;
  left: 15%;
  display: block;
}

.stepBoxActive:nth-child(2)::before {
  border: 1px solid green;
  background-color: green;
}

.stepBox:nth-child(3):before {
  content: "";
  height: 1px;
  width: 35%;
  border: 1px solid gray;
  background-color: gray;
  position: absolute;
  top: 15px;
  left: 50%;
  display: block;
}

.stepBoxActive3:nth-child(3)::before {
  border: 1px solid green;
  background-color: green;
}

.steperNumber {
  border: 1px solid #eee;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  background-color: gray;
  color: #fff;
  z-index: 1;
}

.active {
  background-color: green;
}

.form_lableBox {
  padding: 5px 0px;
}

.form_inputBox input {
  width: 100%;
  outline: none;
}

.form_checkBox_Filed_Box {
  display: flex;
  align-items: center;
  height: 50px;
}

.form_CheckBox_Box {
  padding: 2px 10px 2px 0px;
}

.form_CheckBox_Box input {
  border-radius: 3px;
  cursor: pointer;
}

.form_btn_full_width_Box {
  margin-top: 50px;
  color: #fff;
  border: solid 1px #e64545;
  background-color: #e64545;
  height: auto;
  line-height: inherit;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.input_ErrorBox {
  margin: 3px 0px;
  padding: 1px 0px;
}

.input_Error {
  color: #e64545;
}
