.categories_cards_container {
  margin: 100px 10px;
  display: flex;
  border: 1px solid #eee;
  border-radius: 1px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  height: 250px;
  padding: 10px;
}

.categories_cover_box {
  width: 230px;
  height: 100%;
}

.categories_cards_box {
  width: 90%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

/* categorie Cover */
.CategoriesCover_box {
  background-color: var(--categorie-cover-bg-color);
  background-image: url("../../../public/categories-images/constructor-removebg-preview.png");
  background-position: 30px 30px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 15px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}

.CategorieCover_text {
  color: var(--color-white);
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 1.38;
  font-weight: 600;
  box-sizing: border-box;
  text-align: center;
  z-index: 2;
}

.CategorieCover_overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: black; */
  opacity: 0.4;
}

/* Categories Card */

.categoriesCard_container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.CategoriesCard_box {
  border: 1px solid var(--border-color);
  min-width: 400px;
  height: 100%;
  padding: 10px;
  box-shadow: var(--box-shadow);
}

.CategoriesCard_title {
  padding: 1px 3px;
}

.CategoriesCard_title h3 {
  font-weight: 500;
}

.CategoriesCard_inner_box {
  width: 100%;
  height: 80%;
  display: flex;
  margin-top: 10px;
}

.CategoriesCard_inner_box_imageBox {
  width: 100px;
}

.CategoriesCard_image {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  width: 100px;
  height: 140px;
  cursor: pointer;
}

.CategoriesCard_inner_box_contentBox {
  padding: 15px 15px;
}
.CategoriesCard_cat_list {
  font-size: 16px;
  font-weight: 400px;
}

.CategoriesCard_cat_list h2 {
  font-size: 16px;
  font-weight: 300px;
  line-height: 1.7;
  cursor: pointer;
}

.Mobile_categories_cards_container {
  display: none;
}

/* mobile view */
@media screen and (max-width: 480px) {
  .categories_cards_container {
    display: none;
  }
  .Mobile_categories_cards_container {
    margin: 10px 0px;
    display: block;
    width: 100%;
    padding: 15px;
    height: 250px;
    border: 1px solid #eee;
    border-radius: 1px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    background-image: url("../../../public/categories-images/mobile/mobile_categories_box.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .MobileCategoriesCard_innerContainer {
    width: 100%;
    height: 170px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
    background-color: #fff;
    margin-top: 20px;
  }
  .MobileCategoriesCard_innerContainer h3 {
    padding: 5px;
    border-bottom: 1px solid #eee;
  }
  .MobileCategoriesCard_child_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .MobileCategoriesCard_child_box_Image {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .MobileCategoriesCard_child_boximage {
    width: 100px;
    height: 100px;
  }
  .MobileCategoriesCard_child_box_Content {
    width: 60%;
    height: 100px;
    padding: 5px 0px 5px 5px;
  }
  .MobileCategoriesCard_child_box_Content_innerBox {
    display: flex;
    justify-content: space-between;
  }

  .MobileCategoriesCard_child_box_Content_categoriesName {
    width: 90%;
    cursor: pointer;
    padding: 2px 0px;
  }

  .MobileCategoriesCard_child_box_Content_arrowBox {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../../public/next.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}
