.MobileDrawer_container {
  display: none;
  transition-property: display;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

@media screen and (max-width: 480px) {
  .MobileDrawer_container {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100vh;
    background-color: transparent;
    z-index: 10;
    transition-property: display;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
  }

  .MobileDrawer_content_part {
    width: 70%;
    border: 1px solid #eee;
    background-color: #fff;
    box-shadow: var(--box-shadow);
  }
  .MobileDrawer_transpratnt_part {
    width: 20%;
    background: transparent;
    cursor: pointer;
  }
  .MobileDrawer_container_hide {
    display: none;
    transition-property: display;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
  }

  .MobileDrawer_warper_show {
    display: block;
    transition-property: display;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
  }

  .MobileDrawer_warper_hide {
    display: none;
  }
  .MobileDrawer_user_details_container {
    width: 100%;
    display: flex;
    background: linear-gradient(
      90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 48%,
      rgba(252, 176, 69, 1) 100%
    );
    padding: 10px;
    justify-content: space-between;
  }

  .MobileDrawer_user_Image_container {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    background-color: #4f3f3f;
    width: 60px;
    padding-left: 5px;
    border-radius: 50px;
    box-sizing: border-box;
  }

  .MobileDrawer_userIMage {
    width: 40px;
    height: 40px;
  }
  .MobileDrawer_userNumber_container {
    padding: 2px;
    width: 60%;
  }
  .MobileDrawer_edit_container {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .MobileDrawer_Menu_container {
    width: 100%;
  }
  .MobileDrawer_menu_box {
    width: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;
  }

  .MobileDrawer_menu_box:hover {
    background-color: #eee;
  }

  .MobileDrawer_menu_box_iconBox {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .MobileDrawer_menu_box_contentBox {
    width: 80%;
    display: flex;
    align-items: center;
  }
}
